[Desktop Entry]
Name=Writing Practice
Comment=Practice your writings
Exec=writingpractice 
Icon=super-cool-app.png # replace name to your app name
Terminal=false
Type=Application
Categories=Education; #adjust accordingly your snap category

